<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{%static 'project/css/contact.css'%}">
</head>
<body>
    <div class="content">
        <div class="contacts">
            <div class="title">Contact Us</div>
            <div class="line"></div>
            <div class="socials">
                <a href=""><i class='bx bxl-facebook'></i></a>
                <a href=""><i class='bx bxl-linkedin'></i> www.linkedin.com/in/statos-co-064546299</a>
                <a href=""><i class='bx bxl-fiver'></i>https://www.fiverr.com/s/ljjg8vA</a>
                <a href=""><i class='bx bxl-github'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
    </div>
</body>
</html>