{%load static%}


<link rel="stylesheet" type="text/css" href="{%static 'project/css/credentials.css'%}">



<div class="wrapper">
    <div class="top-nav">
        <div class="nav-images">
            <img src="{%static 'project/images/profile-image.png'%}" alt="">
            <h1>solomn jesse</h1>
            <h4>a self-taught developer with close on to 2 years of experience</h4>
        </div>
    </div>

    <div class="socials">
        {% include 'project/socials.html' %}

    </div>
    <div class="hero-section hero1">
        <h1>language</h1>
        <div class="hero-text">
            <span class="language">pyhon</span>
            <span class="rate">9.0</span>
        </div>
        <div class="hero-text">
            <span class="language">c++</span>
            <span class="rate">7.0</span>
        </div>
        <div class="hero-text">
            <span class="language">java script</span>
            <span class="rate">6.0</span>
        </div>
        <div class="hero-text">
            <span class="language">html</span>
            <span class="rate">9.5</span>
        </div>
        <div class="hero-text">
            <span class="language">css</span>
            <span class="rate">8.5</span>
        </div>
        <div class="hero-text">
            <span class="language">dart</span>
            <span class="rate">3.0</span>
        </div>
    </div>




    <div class="hero-section hero2">
        <h1>web frameworks</h1>
        <div class="hero-text">
            <span class="language">react-JS</span>
            <span class="rate">6.0</span>
        </div>
        <div class="hero-text">
            <span class="language">django</span>
            <span class="rate">7.0</span>
        </div>

        <div class="hero-text">
            <span class="language">angular</span>
            <span class="rate">3.0</span>
        </div>
        <div class="hero-text">
            <span class="language">nodejs</span>
            <span class="rate">2.5</span>
        </div>
    </div>


    <div class="hero-section hero3">
        <h1>security</h1>
        <div class="hero-text">
            <span class="language">CCNA</span>
            <span class="rate">5.0</span>
        </div>
        <div class="hero-text">
            <span class="language">A+</span>
            <span class="rate">4.5</span>
        </div>
        <div class="hero-text">
            <span class="language">security+</span>
            <span class="rate">4.5</span>
        </div>
    </div>



    <div class="hero-section hero4">
        <h1>application</h1>
        <div class="hero-text">
            <span class="language">kivy</span>
            <span class="rate">3.0</span>
        </div>
        <div class="hero-text">
            <span class="language">react native</span>
            <span class="rate">4.0</span>
        </div>
        <div class="hero-text">
            <span class="language">flutter</span>
            <span class="rate">4.5</span>
        </div>
    </div>



    <div class="schools">
        <div class="institute">
            <span>havard</span>
        </div>
        <div class="institute">

            <span>UMich</span>
        </div>
        <div class="institute">

            <span>freecodecamp.org</span>
        </div>
        <div class="institute">

            <span>mit</span>
        </div>
        <div class="institute">

            <span>dr.chuck</span>
        </div>
    </div>

    <div class="key">
        <h3>key</h3>
        <div class="key-text">
            <span>less. 5</span>
            <span>conceptual</span>
        </div>
        <div class="key-text">
            <span>less. 7</span>
            <span>implmentation</span>
        </div>
        <div class="key-text">
            <span>over. 7</span>
            <span>strong</span>
        </div>
    </div>
</div>