{%load static%}

    <link rel="stylesheet" href="{% static 'project/css/image-circle.css' %}">

    <div class="box">
        <span style="--i:1"><img src="{%static 'project/images/task-app.png'%}" alt=""></span>
        <span style="--i:2"><img src="prince-akachi-i2hoD-C2RUA-unsplash-_2_.jpeg" alt=""></span>
        <span style="--i:3"><img src="toa-heftiba-O3ymvT7Wf9U-unsplash.jpg" alt=""></span>
        <span style="--i:4"><img src="toa-heftiba-O3ymvT7Wf9U-unsplash.jpg" alt=""></span>
        <span style="--i:5"><img src="jurica-koletic-7YVZYZeITc8-unsplash (1).jpg" alt=""></span>
        <span style="--i:6"><img src="jurica-koletic-7YVZYZeITc8-unsplash (1).jpg" alt=""></span>
        <span style="--i:7"><img src="christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt=""></span>
        <span style="--i:8"><img src="christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt=""></span>
        <span style="--i:9"><img src="christopher-campbell-rDEOVtE7vOs-unsplash.jpg" alt=""></span>
            </div>
    <!-- <script type="text/javascript">
        let box = document.querySelector('.box');
        window.onmousemove = function(e){
            let x = e.clientX/3;
            box.style.transform = 'perspective(1000px) rotateY(' + x +'deg)'
        }
    </script> -->
