

<div class="nav">
    <div class="logo top"><a href="">Site<span>forlio</span></a></div>
    <div class="show-icons">
        <div class="show"><i class='bx bx-menu-alt-left'></i></div>
        <div class="hide">
            <div class="span"><i class='bx bx-x'></i></div>
            <ul class="ul1">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'services' %}">Works</a></li>
            </ul>
        </div>
    </div>
        <ul class="ul">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'services' %}">Works</a></li>
        </ul>
        <button id="showFormButton"><a href="">Let's talk</a></button>
</div>