{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'project/css/services.css'%}">
    <script src="https://kit.fontawesome.com/5d31dfb617.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+20+Charted&family=Jersey+25&family=Syne:wght@400..800&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="{%static 'project/js/service.js'%}" defer></script>

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-section">
            <div class="navigation">
                <h1>sitefolio</h1>
                <div class="menu-icons">
    
                    <div class="menu"><i class="fa-solid fa-ellipsis"></i></div>

                {% include 'project/navbar.html' %}

                </div>
            </div>
            <div class="content">
                <div class="top-nav">
                    <div class="left">
                        <h3>services that i provide</h3>
                        <h1>services</h1>
                    </div>
                    <div class="right">
                        <p>I provide tailored solutions to meet diverse client needs. With a focus on innovation and efficiency, I leverage cutting-edge technologies and industry best practices to deliver high-quality results that drive business growth and user engagement.</p>
                    </div>
                </div>
                <div class="services">
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-laptop-code"></i></div>
                      <h1>Web Development</h1>
                      <p>Creating and maintaining websites, ensuring they are user-friendly and performant.</p>
                      <span>01</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-database"></i></div>
                      <h1>Database Management</h1>
                      <p>Designing, implementing, and managing databases to store and retrieve data efficiently.</p>
                      <span>02</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-network-wired"></i></div>
                      <h1>Network Security</h1>
                      <p>Protecting computer networks from intrusions and ensuring data integrity and confidentiality.</p>
                      <span>03</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-cloud"></i></div>
                      <h1>Cloud Computing</h1>
                      <p>Utilizing cloud platforms to deploy, manage, and scale applications and services.</p>
                      <span>04</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-code"></i></div>
                      <h1>Programming</h1>
                      <p>Proficiency in multiple programming languages such as Java, Python, JavaScript, etc.</p>
                      <span>05</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-server"></i></div>
                      <h1>Server Administration</h1>
                      <p>Managing server infrastructure, ensuring uptime, security, and performance.</p>
                      <span>06</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-code-branch"></i></div>
                      <h1>Version Control</h1>
                      <p>Using version control systems like Git to manage and collaborate on codebases.</p>
                      <span>07</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-desktop"></i></div>
                      <h1>Desktop Application Development</h1>
                      <p>Building software applications that run on desktop operating systems like Windows, macOS, or Linux.</p>
                      <span>08</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-mobile"></i></div>
                      <h1>Mobile App Development</h1>
                      <p>Creating mobile applications for iOS and Android platforms using native or cross-platform frameworks.</p>
                      <span>09</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-cogs"></i></div>
                      <h1>System Integration</h1>
                      <p>Integrating various software systems and components to work together seamlessly.</p>
                      <span>10</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-code-merge"></i></div>
                      <h1>Continuous Integration and Deployment</h1>
                      <p>Automating the process of integrating code changes and deploying applications to production environments.</p>
                      <span>11</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-chart-bar"></i></div>
                      <h1>Data Analysis</h1>
                      <p>Extracting insights from data using statistical and analytical techniques.</p>
                      <span>12</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-robot"></i></div>
                      <h1>Artificial Intelligence and Machine Learning</h1>
                      <p>Building intelligent systems that can learn from data and make predictions or decisions.</p>
                      <span>13</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-chart-network"></i></div>
                      <h1>Big Data Technologies</h1>
                      <p>Working with technologies like Hadoop, Spark, and NoSQL databases to process and analyze large volumes of data.</p>
                      <span>14</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-bug"></i></div>
                      <h1>Software Testing and Quality Assurance</h1>
                      <p>Ensuring the quality and reliability of software through comprehensive testing and QA processes.</p>
                      <span>15</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-lock"></i></div>
                      <h1>Cybersecurity</h1>
                      <p>Protecting digital assets and systems from cyber threats and vulnerabilities.</p>
                      <span>16</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-project-diagram"></i></div>
                      <h1>Software Architecture</h1>
                      <p>Designing the overall structure and organization of software systems.</p>
                      <span>17</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-tools"></i></div>
                      <h1>DevOps</h1>
                      <p>Collaborating between development and operations teams to automate and streamline software delivery and infrastructure changes.</p>
                      <span>18</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-dice"></i></div>
                      <h1>Problem Solving</h1>
                      <p>Analyzing complex problems and designing effective solutions using computational thinking.</p>
                      <span>19</span>
                    </div>
                    <div class="service">
                      <div class="icon"><i class="fa-solid fa-users"></i></div>
                      <h1>Team Collaboration</h1>
                      <p>Working effectively in teams, communicating ideas, and collaborating on projects.</p>
                      <span>20</span>
                    </div>
                  </div>
                  
                <div class="navigate">
                    <i class="fa-sharp fa-solid fa-arrow-left"></i>
                    <i class="fa-sharp fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="feture">
          <div class="container">
            <div class="title">
              <h2>i make the future</h2>
              <h1>i develope & create a <br>digital future</h1>
            </div>
            <div class="bottom">
              <div class="bottom-left">
                <p>Innovating technology to enhance global digital experiences, one line of code at a time.</p>
              <p>My mission is to create a digital future that is accessible, inclusive, and empowering for all. I believe that technology has the power 
                to transform lives and societies, and I am committed to using my skills and expertise to make this vision a reality.</p>
                <span>solomonjesse@gmail.com</span>
              </div>
              <div class="bottom-right">
                <div class="section" data-percent="90%">
                  <h3>S E O</h3>
                  <h3>90%</h3>
                </div>
                <div class="section" data-percent="70%">
                  <h3>security</h3>
                  <h3>95%</h3>
                </div>
                <div class="section" data-percent="80%">
                  <h3>perform</h3>
                  <h3>80%</h3>
                </div>
                <div class="section" data-percent="85%">
                  <h3>design</h3>
                  <h3>85%</h3>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="projects">
          <div class="info">
            <h1>this is a list of projects i have completed</h1>
            <span><i class='bx bx-info-circle'></i></i> pro tip. click an alement to showcase its corresponding atributes | sroll to exit </span>
          </div>

          <div class="item">
          {% include 'project/image-circle.html' %}
          </div>
          <div class="page-contents">
            <div class="contents" id="one">
              <h1>HTML5 & CSS</h1>
              <div class="titles">
                <p>My experience with HTML/CSS is vast and strong, built upon procedural learning that tends to increase familiarity. I have learned by developing over 50+ templates, incorporating key concepts that lead the industry, like animation, Sass/SCSS, the mighty Flexbox, web responsiveness, and many more. Actually, you can see this in action as you begin from the homepage, which may not have a lot of these key concepts, to my service page, which has them all embedded in detail.</p>              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="two">
              <h1>front-end development</h1>
              <div class="titles">
                <p>When it comes to front-end integration, my projects speak for themselves. From a coffee website to a shoe store to a music store, I'm confident that I can deliver robust, unique, and eye-catching front-end solutions that will meet your corporate needs.</p>              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="eight">
              <h1>JavaScript development</h1>
              <div class="titles">
                <p>A wise developer once said, "You don't know programming if you don't know JavaScript." That programmer was me. Over the years, as much as I have tried to avoid this language, I have had to use it in scenarios where no other language matches its capability. I have developed over 10 solid projects with JavaScript. These include a real-time weather app, an image generator with OpenAI's API, a Pac-Man game, and many more. I'm looking forward to extending my knowledge of JS.</p>              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="five">
              <h1>react development</h1>
              <div class="titles">
                <p>An industry quote suggests, "React JS is a developer's best friend." I can't argue more. Though I haven't mastered this mystical art completely, my endeavors have had some great success. I've developed three key React projects, including a fully functional YouTube clone, a blog website, and a notes app.</p>              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="three">
              <h1>python development</h1>
              <div class="titles">
                <p>Python, by far, is my favorite language. Having acquired a diploma in Python from Alison, I can't outline my entire vast portfolio without my computer running out of ink. I have developed Python solutions for AI & machine learning, algorithmic trading strategies, web development and APIs, web scraping, web hacking, and so on. I don't consider myself a wizard, but I can enchant you with my Python spells.</p>              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="four">
              <h1>3d with blender</h1>
              <div class="titles">
              <p>Lorem ipsum, dolor sit ame Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur, praesentium laboriosam doloremque qui voluptate? Quia aut sequi animi a eligendi officia, ipsa pariatur itaque vero, eaque quas, iure ullam?t consectetur adipisicing elit. Architecto vitae iure laboriosam quam dolorum harum quos eligendi odit inventore rerum eos quaerat saepe dolorem, ipsa cum dolor omnis? Odio, veritatis!</p>
              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="six">
              <h1>full-stack projects</h1>
              <div class="titles">
              <p>Lorem ipsum, dolor sit ame Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur, praesentium laboriosam doloremque qui voluptate? Quia aut sequi animi a eligendi officia, ipsa pariatur itaque vero, eaque quas, iure ullam?t consectetur adipisicing elit. Architecto vitae iure laboriosam quam dolorum harum quos eligendi odit inventore rerum eos quaerat saepe dolorem, ipsa cum dolor omnis? Odio, veritatis!</p>
              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
            <div class="contents" id="seven">
              <h1>c++ projects</h1>
              <div class="titles">
              <p>Lorem ipsum, dolor sit ame Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur, praesentium laboriosam doloremque qui voluptate? Quia aut sequi animi a eligendi officia, ipsa pariatur itaque vero, eaque quas, iure ullam?t consectetur adipisicing elit. Architecto vitae iure laboriosam quam dolorum harum quos eligendi odit inventore rerum eos quaerat saepe dolorem, ipsa cum dolor omnis? Odio, veritatis!</p>
              <div class="span-container">
                <span class="span">learn more <i class='bx bx-left-down-arrow-circle'></i></span>
              </div>
              </div>              
            </div>
           
          </div>
        </div>
        <div class="form-content">
          <i id="hideFormButton" class='bx bx-message-square-x'></i>
          {% include 'project/form.html' %}
        </div>
        </div>
</body>
</html>