{%load static%}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- link ur FA here -->
    <script src="https://kit.fontawesome.com/5d31dfb617.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{%static 'project/css/socials.css'%}">

  </head>
  <body>


    <div class="icons">
      <a href="https://github.com/Statosco">
        <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-github"></span>
        </div>
<div class="text">
Github</div>
</a>
      <a href="https://x.com/StatosC2782">
        <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-twitter"></span>
        </div>
<div class="text">
Twitter</div>
</a>
      <a href="https://x.com/StatosC2782">
        <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-instagram"></span>
        </div>
<div class="text">
Instagram</div>
</a>
      <a href="www.linkedin.com/in/solomon-jesse-064546299">
        <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-linkedin-in"></span>
        </div>
<div class="text">
Linkedin</div>
</a>
      <a href="#">
        <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-tiktok"></span>
        </div>
<div class="text">
TikTok</div>
</a>
    </div>


</body>
</html>
