@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}
:root{
    --ff-syne: 'Syne', sans-serif;
    --white: hsla(0, 0%, 100%, 1);
    --blob-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;
    --background-color: #2d2d2b;
    --big-text-color: #fff;
    --border-color:#962d2d;
    --small-text-clor: grey;
}
.wrapper .front-face{
    max-width: 100vw;
    min-height: 100vh;
    background: var(--background-color);
    position: relative;
    padding-bottom: 30px;
}

.front-face .about {
    font-family: "Jersey 25", sans-serif;
    color: var(--big-text-color);
    margin: 0px 0px 0 200px;
    font-size: 4rem;
    letter-spacing: 3px;
    position: relative; /* Add position relative */
    cursor: pointer;
    max-width: 200px;
    padding: 40px 0 0 10px;
}

.front-face .about::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 25px;
    height: 3px; /* Set a height for the line */
    background-color: var(--border-color);
    transition: width 0.9s ease; /* Add transition for width */    
    max-width: 150px;
    left: 10px;
}
.front-face .about:hover::after {
    width: 100%; /* Extend width to 100% on hover */
}

.front-face .ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    right: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.033);
    border-radius: 30px 0 0 30px;
    position: absolute;
}

.front-face ul li {
    display: flex; /* Set display to flex */
    align-items: center; /* Vertically center content */
    padding: 20px 0;
    transition: all 0.6s ease-in-out;
}
.front-face .ul li:hover{
    border: 1px solid var(--small-text-clor);
    padding: 20px;
    border-radius: 12px;
}


.front-face ul li a{
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 3px;
}
.front-face .nav .top{
    display: none;
}
.front-face .nav button{
    position: absolute;
    outline: none;
    border: none;
    background: #4c4848a5;
    right: 30px;
    top: 40px;
    border-radius: 10px;
    padding:10px;
    display: none;
}
a:hover{
    color: #43b3c2 !important;
}
.front-face .nav button a{
    padding:30px;
    color: var(--white);
    font-size: 20px;
}
.wrapper .main-section{
    max-width: 960px;
    margin-inline: auto;
    gap: 30px;
}
.wrapper .main-section .left {
    position: relative; /* Ensure the ::before pseudo-element is positioned relative to this container */
    margin-top: 100px;
}

/* .wrapper .main-section .left img {
    max-width: 450px;
    min-height: 450px;
    position: relative;
    filter: grayscale(100%);
} */
.wrapper .main-section .right h4{
    text-transform: uppercase;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.994);
    color: var(--big-text-color);
    font-family: var(--ff-syne);
    letter-spacing: 3px;
    font-weight: 400;
    margin: 0  0 0 100px;
    
}
.wrapper .main-section .right h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    font-family: var(--ff-syne);
    color: var(--big-text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.946);
    letter-spacing: 3px;
    position: relative; /* Ensure the z-index applies correctly */
    z-index: 1; /* Ensure the h1 appears on top */
    margin-left: 300px;
}

.wrapper .main-section .right h1::before {
    content: '';
    display: block;
    width: 600px; /* Adjust size as needed */
    height: 600px; /* Adjust size as needed */
    background-color: var(--white); /* Adjust color as needed */
    top: -200px; /* Adjust position as needed */
    left: -450px; /* Adjust position as needed */
    position: absolute;
    border-radius: var(--blob-radius);
    animation: blobAnim 30s infinite; /* Apply the blobAnim animation */
    z-index: -1; /* Ensure the pseudo-element appears behind the h1 */
    opacity: 0.6;
}


@keyframes blobAnim {

    0%,
    100% { border-radius: var(--blob-radius); }
  
    10% { border-radius: 33% 67% 50% 50% / 43% 39% 61% 57%; }
  
    20% { border-radius: 51% 49% 31% 69% / 65% 39% 61% 35%; }
  
    30% { border-radius: 51% 49% 56% 44% / 45% 39% 61% 55%; }
  
    40% { border-radius: 66% 34% 33% 67% / 48% 71% 39% 52%; }
  
    50% { border-radius: 46% 54% 33% 67% / 48% 30% 70% 52%; }
  
    60% { border-radius: 46% 54% 56% 44% / 48% 30% 70% 52%; }
  
    70% { border-radius: 46% 54% 56% 44% / 65% 53% 47% 35%; }
  
    80% { border-radius: 67% 33% 56% 44% / 37% 53% 47% 63%; }
  
    90% { border-radius: 46% 54% 32% 68% / 37% 53% 47% 63%; }
  
  }

  .front-face .main-section .right p {
    width: 800px;
    z-index: 8;
    color: var(--small-text-clor);
    margin: 60px 10px 30px 0;
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-inline: auto;
}
.main-section .right h2 {
    color: var(--white);
    margin-left: 700px;
    text-transform: capitalize;
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    transition: transform 0.3s ease; /* Adding transition effect */
    margin-bottom: 30px;
}

.main-section .right h2:hover {
    transform: rotate(5deg); /* Rotating the border on hover */
    opacity: 0.9;
    cursor: pointer;
}

.main-section .right h2 i {
    margin-left: 10px;
    font-size: 0.9rem;
}




.wrapper .about-me{
    min-height: 100vh;
    margin-inline: auto;
    background: var(--background-color);
    padding: 70px;

}
.wrapper .about-me .about-me-section h1 {
    color: var(--big-text-color);
    text-transform: capitalize;
    font-size: 3em;
    font-weight: 800;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 3px;
    display: inline;
    padding: 20px;
    box-shadow: 
    0 1px 0 var(--border-color), /* Top border */
    0 -1px 0 var(--border-color) inset, /* Bottom border */
    1px 0 0 var(--border-color), /* Left border */
    -1px 0 0 var(--border-color) inset; /* Right border */
}
.wrapper .about-me .about-me-section h3{
    color: var(--small-text-clor);
    margin: 40px 0 0 0;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 400;
}

.wrapper .about-me .about-me-section .about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for the first two paragraphs */
    gap: 20px; /* Add gap between paragraphs */
}

.wrapper .about-me .about-me-section .about-me-content p:nth-child(3) {
    grid-column: 1 / -1; /* Span across both columns */
}
.wrapper .about-me .about-me-section .about-me-content p{
    position: relative;

    color: var(--small-text-clor);
}
.wrapper .about-me .about-me-section .about-me-content p
{
    font-size: 1.5rem;
    font-weight: 500;
}
.wrapper .about-me .about-me-section .about-me-content .p1 .quotes{
    font-size: 120px;
    color: var(--border-color);
    position: absolute;
    top: -60px;
    left: 10px;
}
.wrapper .about-me .about-me-section .about-me-content .p1
{
    display: inline-block;
    margin-top: 60px;
    letter-spacing: 2px;
    box-shadow: 
    0 1px 0 var(--border-color), /* Top border */
    0 -1px 0 var(--border-color) inset, /* Bottom border */
    1px 0 0 var(--border-color), /* Left border */
    -1px 0 0 var(--border-color) inset; /* Right border */
    padding: 30px;

}
.wrapper .about-me .about-me-section .about-me-content .p2
{
    display: inline-block;
    margin-top: 60px;
    letter-spacing: 2px;
    box-shadow: 
    0 1px 0 var(--border-color), /* Top border */
    0 -1px 0 var(--border-color) inset, /* Bottom border */
    -1px 0 0 var(--border-color), /* Left border */
    1px 0 0 var(--border-color) inset; /* Right border */
    padding: 30px;

}
.wrapper .about-me .about-me-section .about-me-content .p2 .quotes
{
    font-size: 120px;
    color: var(--border-color);
    position: absolute; 
    right: -50px;
}
.wrapper .about-me .about-me-section .about-me-content .p3
{
    max-width: 700px;
    margin-inline: auto;
    margin-top: 100px;
    box-shadow: 
    0 -1px 0 var(--border-color), /* Top border */
    0 -1px 0 var(--border-color) inset, /* Bottom border */
     0 0 var(--border-color), /* Left border */
     0 0 var(--border-color) inset; /* Right border */
    padding: 40px;
}
.wrapper .about-me .about-me-section .about-me-content .p3 .quotes
{
    font-size: 120px;
    color: var(--border-color);
    position: absolute; 
    top: -50px;
    left: 20;
}

.footer{
    border-top: 1px solid var(--border-color);
    position: relative;
    margin-top: 200px;
    border: 2px solid linear-gradient(90deg, rgba(61,116,232,1) 0%, rgba(27,71,209,1) 35%, rgba(72,203,230,1) 100%);
    text-align: center;
    padding: 30px;
}
.footer ul{
display: flex;
list-style-type: none;
justify-content: center;
}
.footer h1{
letter-spacing: 3px;
color: var(--big-text-color);
}
.footer ul li{
padding: 30px;
}
.footer ul li a{
color: #514d4d;
letter-spacing: 3px;
font-size: 20px;
}
.footer h4{
letter-spacing: 3px;
color: var(--small-text-clor);
padding-bottom: 50px;
}
.footer h4 a{
color: #6b91bccc;
letter-spacing: 3px;
font-size: 1.3em;
}









/*---------------------------------------------------------------------------------*/
.front-face .show-icons{
    display: none;
} 

@media screen and (max-width: 1618px) {
    .front-face .main-section .right p {
        margin-inline: auto;
        margin-top: 50px; /* Adjusted margin-top for medium screens */
        width: 100%; /* Use full width of the container */
    }
}
@media screen and (max-width: 1212px){

        .front-face .nav .show-icons{
            position: absolute;
            z-index: 9;
            top: 0px;
            left: -45px;
            display: block;
        }
        .front-face .nav .show-icons .show{
            font-size: 50px;
            position: absolute;
            left: 80px;
            cursor: pointer;
            color: var(--big-text-color);
            border: 1px solid var(--border-color);
            padding: 0 12px;
            margin-top: 20px;
        }
        .front-face .nav .show-icons .show:hover
        {
            background: var(--background-color);
            opacity: 0.8;
        }
        .front-face .nav .show-icons .hide .span{
            position: absolute;
            right: 10px;
            font-size: 40px;
            cursor: pointer;
            color: var(--big-text-color);
        }
        .front-face .nav .show-icons .hide{
            display: none;
        }
        
        
        .nav .show-icons .hide .ul1{
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            color: #fff;
            background: #00000055;
            width:300px;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            margin-inline: auto;
            height: 600px;
        } 
        .nav .show-icons .hide .ul1 li
        {
            text-align: center;
            border-bottom: 1px solid var(--border-color);
            /* width: 105px; */
            padding: 20px ;
            display: flex;
            align-items: center;
            /* background: var(--background-color); */
            margin: 10px;
        }
        .wrapper .about-me .about-me-section .about-me-content {
            display: grid;
            grid-template-columns: 1fr; /* Two columns for the first two paragraphs */
            gap: 20px; /* Add gap between paragraphs */
        }
    .front-face .ul {
        display: none;
    }
}
@media screen and (max-width: 1100px){
    body{
        overflow-x: hidden;
    }
    .wrapper .main-section .right h1::before {
    width: 550px; /* Adjust size as needed */
    height: 550px; /* Adjust size as needed */
    margin-left: 50px;
    opacity: 0.7;
}
}
@media screen and (max-width: 1056px){
    .front-face .main-section .right p{
        margin-inline: auto;
        opacity: 0.8;
        color: white;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 1016px){
    .front-face .main-section .right h2{
        margin-inline: auto;
        margin: 40px;
        width: 200px;
    }
    .front-face .main-section .right h1{
        margin-inline: auto;
        margin-left: 40px;
    }
}
@media screen and (max-width: 842px) {
    .front-face .main-section .right p {
        padding-left: 10px; /* Add padding for smaller screens */
        font-size: 0.8em; /* Further decrease font size if needed */
    }
}

@media screen and (max-width: 679px){

    body{
        overflow-x: hidden;
    }
    .wrapper{
        overflow: hidden;
    }
    .wrapper .about-me .about-me-section .about-me-content p
{
    font-size: 1rem;
    font-weight: 400;
}
.wrapper .about-me{
    padding: 4px;

}
.wrapper .about-me .about-me-section .about-me-content .p1,
.wrapper .about-me .about-me-section .about-me-content .p2,
.wrapper .about-me .about-me-section .about-me-content .p3
{
    padding: 10px;
}
.wrapper .main-section .right h1 {

    font-size: 25px;
    font-weight: 800;
}
.wrapper .main-section .right h4{
    text-transform: uppercase;
    font-size: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.994);
    color: var(--big-text-color);
    font-family: var(--ff-syne);
    letter-spacing: 3px;
    font-weight: 400;
    margin: 20px  0 0 30px;
    
}
.wrapper .about-me .about-me-section h1
{
    font-size: 2rem;
}
.front-face .about {
    margin: 0px 0px 0 100px;
}
.front-face .nav .show-icons .show{
    font-size: 40px;
    left: 50px;
    padding: 0 5px;
    margin-top: 20px;
}


}





::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}


